<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Universal Help Network - Success
        </title>
        <!-- Favicon -->
        <link href="{{asset('assets/img/brand/favicon.png')}}" rel="icon" type="image/png"/>
        <!-- Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link href="{{asset('assets/js/plugins/nucleo/css/nucleo.css')}}" rel="stylesheet"/>
        <link href="{{asset('assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet"/>
        <!-- CSS Files -->
        <link href="{{asset('assets/css/argon-dashboard.css?v=1.1.0')}}" rel="stylesheet"/>
    </head>

    <body class="bg-default">
        <div
            class="main-content">
            <!-- Header -->
            <div class="header bg-gradient-primary py-7 py-lg-8">
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-6">
                                <h1 class="text-white">{{ titulo_mensaje }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container mt--8 pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-transparent pb-5">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <h3 class="display-2 text-black text-center" style="font-size: 1.3rem">{{ mensaje }}</h3>
                                </div>
                                <div class="text-center">
                                    <a href="{{ path('solicitudes_ver') }}">
                                        <button type="button" class="btn btn-primary mt-4">Return to Users Requests</button>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>
