{% extends 'base.html.twig' %}

{% block title %}Request Answers{% endblock %}
{% block body %}
  <div class="main-content">
  <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>
    <div class="container-fluid mt--7">

        <div class="row mt-12">
            <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                    <h1 class="mb-0">{{solicitud.getAsunto()}} </h1>
                    <h3 class="mb-0">Posted by You {{solicitud.getFecha() | date("d/m/Y")}}</h3>
                    </div>
                </div>
                </div>
                <div class="card-body">
                <h6 class="heading-small text-muted mb-4">Request description</h6>
                <div class="h5 font-weight-300">
                    {{solicitud.getDescripcion()}}
                </div>

                <hr class="my-4">
                
                {% if solicitud.getAdjuntos() | length == 0 %}
                <h6 class="heading-small text-muted mb-4">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp&nbsp
                    There are no attachments
                </h6>
                {% else %}
                    <h6 class="heading-small text-muted mb-4">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp&nbsp
                    {{solicitud.getAdjuntos() | length}} attachments
                    </h6>
                    <div class="h5 font-weight-300">
                    Pending to implement.
                    </div>
                {% endif %}
                </div>
            </div>
            </div>
        </div>

        <br><br>
        <div class="row mt-12">
            <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                    <h1 class="mb-0">Replies </h1>
                    </div>
                </div>
                </div>
                <div class="card-body">

                    {% for respuesta in respuestas %}
                    <h6 class="heading-small text-muted mb-4">
                        {{respuesta.getEspecialista().getNombres() }}
                        {{respuesta.getEspecialista().getApellidos()}}
                    </h6>
                    <p class="mt-3 mb-0 text-muted text-sm">
                        <i class="ni ni-calendar-grid-58 text-blue"></i>
                        <span class="text-wrap"></i>
                        {{respuesta.getFecha() | date("d/m/Y")}}
                    </p>
                    <div class="h5 font-weight-300">
                        {{respuesta.getRespuesta()}}
                    </div>
                    <hr class="my-4">
                    {% endfor %}
                
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
  <!--   Core   -->
  <script src="{{asset('assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{asset('assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="{{asset('assets/js/argon-dashboard.min.js?v=1.1.0')}}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
{% endblock %}