{% extends 'base.html.twig' %}

{% block title %}Radicar solicitud
{% endblock %}
{% block body %}
    <div
        class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
        <div class="container-fluid mt--7">
            <div class="row mt-12">
                <div class="col-xl-12 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Create Request</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="{{path('usuario_radicar_solicitud')}}" method="post" role="form">
                                <h6 class="heading-small text-muted mb-4">General data</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="area">Classification</label>
                                                <select id="area" name="area" class="form-control" require>
                                                    <option value="COD_1">Medicina General</option>
                                                    <option value="COD_2">Medicina Veterinaria</option>
                                                    <option value="COD_3">Asesoría Jurídica</option>
                                                    <option value="COD_4">Asesoría Académica</option>
                                                    <option value="COD_5">Asesoría Tecnológica</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="idioma">Language</label>
                                                <select id="idioma" name="idioma" class="form-control" require>
                                                    <option value="es">Español</option>
                                                    <option value="en">Ingles</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr
                                class="my-4"/>
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Request information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <input type="text" id="asunto" name="asunto" class="form-control form-control-alternative" placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="12" class="form-control form-control-alternative" id="descripcion" name="descripcion" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <h6>Attachments</h6>
                                                <a href="" download="Adjunto">
                                                    Upload file
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr
                                class="my-4"/>
                                <!-- Description -->
                                <h6 class="heading-small text-muted mb-4">Notification</h6>
                                <div class="pl-lg-4">
                                    <div class="form-group">
                                        <select id="respuestaSMS" name="respuestaSMS" class="form-control" require>
                                            <option value="1">I wanna recibe full replies on my phone</option>
                                            <option value="0">I wanna recibe only notifications on my phone</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core   -->
    <script src="{{asset('assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <!--   Optional JS   -->
    <!--   Argon JS   -->
    <script src="{{asset('assets/js/argon-dashboard.min.js?v=1.1.0')}}"></script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
        window.TrackJS && TrackJS.install({token: "ee6fab19c5a04ac1a32a645abde4613a", application: "argon-dashboard-free"});
    </script>
{% endblock %}
