{% extends 'base.html.twig' %}
{% block title %}Search Requests{% endblock %}
{% block body %}
     <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>
    <div class="container-fluid mt--7">
      <div class="col-xl-8 order-xl-1" style="margin-right: auto; margin-left: auto">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Search Request by Code</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="{{ path('usuario_solicitudes_buscar_codigo') }}" method="post" role="form">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg" style="width=100%!important">
                      <div class="form-group focused">
                        <input type="text" name="requestCode" id="requestCode" class="form-control form-control-alternative" placeholder="Request code">
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">Search</button>
                </div>              
              </form>
            </div>
          </div>
        </div>


    </div>
  </div>
  <!--   Core   -->
  <script src="{{asset('assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{asset('assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="{{asset('assets/js/argon-dashboard.min.js?v=1.1.0')}}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
{% endblock %}