{% extends 'base.html.twig' %}
{% block title %}Requests{% endblock %}
{% block body %}
     <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>
    <div class="container-fluid mt--7">
      <!-- Dark table -->
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Sent Requests</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Date</th>
                    <th scope="col">Classification</th>
                    <th scope="col">Answers</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for solicitud in solicitudes %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="mb-0 text-sm">{{solicitud.getAsunto()}}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      {{solicitud.getFecha() | date("d/m/Y")}}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        {{solicitud.getArea().getNombre()}}
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        {{solicitud.getRespuestas() | length}} answers
                      </span>
                    </td>
                    <td class="text-right">
                      
                        <div class="col text-right">
                        <a href="{{path('ver_respuestas', {'idSolicitud':solicitud.getId()})}}" class="btn btn-sm btn-primary">View replies</a>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core   -->
  <script src="{{asset('assets/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{asset('assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="{{asset('assets/js/argon-dashboard.min.js?v=1.1.0')}}"></script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
{% endblock %}