<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Universal Help Network - Login
        </title>
        <!-- Favicon -->
        <link href="{{asset('assets/img/brand/favicon.png')}}" rel="icon" type="image/png"/>
        <!-- Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <!-- Icons -->
        <link href="{{asset('assets/js/plugins/nucleo/css/nucleo.css')}}" rel="stylesheet"/>
        <link href="{{asset('assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet"/>
        <!-- CSS Files -->
        <link href="{{asset('assets/css/argon-dashboard.css?v=1.1.0')}}" rel="stylesheet"/>
    </head>

    <body class="bg-default">
        <div
            class="main-content">
            <!-- Header -->
            <div class="header bg-gradient-primary py-7 py-lg-8">
                <div class="container">
                    <div class="header-body text-center mb-7">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-6">
                                <h1 class="text-white">Universal Help Network</h1>
                                <p class="text-lead text-light">Welcome to UHN, to continue please enter your phone number</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator separator-bottom separator-skew zindex-100">
                    <svg x="0" y="0" viewbox="0 0 2560 100" preserveaspectratio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                    </svg>
                </div>
            </div>
            <!-- Page content -->
            <div class="container mt--8 pb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-7">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-header bg-transparent pb-5">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <form action="{{path('login_autenticar')}}" method="post" role="form">
                                        <div class="form-group">
                                                <select id="pais" name="pais" class="form-control" require>
                                                <option>Select your country</option>
                                                <option value="57">Colombia</option>
                                                <option value="34">Chile</option><br>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="ni ni-lock-circle-open"></i>
                                                    </span>
                                                </div>
                                                <input id="telefono" name="telefono" class="form-control" placeholder="Phone number" type="number" require>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary my-4">Sign in</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>
