{% extends 'base.html.twig' %}

{% block title %}Validar numero{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Ingresa el codigo que te enviamos a {{ phone_number }} ✅</h1>
</div>
<form action={{path('login_verificar_codigo')}}>
  Codigo:<br>
  <input type="text" name="codigo" placeholder="Ingresa el codigo">
  <br>
  <br><br>
  <input type="submit" value="Submit">
{% endblock %}
